.btn-primary{
    background-color: #44BB87!important;
    color: black !important;
}
header{
    background: #4478BB;
}
.nav-link{
    color: black!important;
}
body {
    background-color: #44B3BB !important;
}